<!-- <p-tabMenu [model]="items" [activeItem]="activeItem">

</p-tabMenu> -->

<nav style="top:0px;" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">Car<span>Rental</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a  [routerLink]="['/']" class="nav-link">Home</a></li>
          <li class="nav-item"><a [routerLink]="['/cars/add']" class="nav-link">Car Added</a></li>
          <li class="nav-item"><a [routerLink]="['/rentals']" class="nav-link">Rentals</a></li>
          <li class="nav-item"><a [routerLink]="['/pricing']" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a  [routerLink]="['/cars']" class="nav-link">Cars</a></li>
          <li class="nav-item"><a [routerLink]="['/blog']" class="nav-link">Blog</a></li>
          <li class="nav-item"><a  [routerLink]="['/contact']"class="nav-link">Contact</a></li>
          <li class="nav-item"><a  [routerLink]="['/register']"class="nav-link">Register</a></li>
          <li class="nav-item"><a  [routerLink]="['/login']"class="nav-link">Login</a></li>


        </ul>
      </div>
    </div>
  </nav>
