<div
  style="height: 50px !important"
  class="hero-wrap ftco-degree-bg"
  style="background-image: url('../../../assets/images/bg_1.jpg')"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text justify-content-start align-items-center justify-content-center"
    >
      <div class="col-lg-8 ftco-animate" style="opacity: 1">
        <div class="text w-100 text-center mb-md-5 pb-md-5">
          <h1 class="mb-4">Fast &amp;Fast Register And Rent Your Car</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p>30 seconds left to Rent a Car</p>
      <input [routerLink]="['/login']" type="submit" name="" value="Login" /><br />
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Individual</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Corporate</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="home"
          role="tabpanel"
          aria-labelledby="home-tab"
        >
          <h3 class="register-heading">individual register</h3>
          <form [formGroup]="individualRegisterAddForm">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    formControlName="firstName"
                    type="text"
                    class="form-control"
                    placeholder="First Name *"
                   />
                </div>
                <div class="form-group">
                  <input
                    formControlName="lastName"
                    type="text"
                    class="form-control"
                    placeholder="Last Name *"
                  />
                </div>
                <div class="form-group">
                  <input
                    formControlName="passwordIndividual"
                    type="password"
                    class="form-control"
                    placeholder="Password *"
                  />
                </div>
             
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    formControlName="emailIndividual"
                    type="email"
                    class="form-control"
                    placeholder="Your Email *"
                  />
                </div>

                <div class="form-group">
                  <select class="form-control">
                    <option class="hidden" selected disabled>
                      Please select your Sequrity Question
                    </option>
                    <option>What is your Birthdate?</option>
                    <option>What is Your old Phone Number</option>
                    <option>What is your Pet Name?</option>
                  </select>
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Your Answer *"
                  />
                </div>
                <input
                  type="submit"
                  (click)="addIndividual()"
                  class="btnRegister"
                  value="Register"
                />
              </div>
            </div>
          </form>
        </div>
        <div
          class="tab-pane fade show"
          id="profile"
          role="tabpanel"
          aria-labelledby="profile-tab"
        >
          <h3 class="register-heading">Corporate Register</h3>
          <form [formGroup]="corporateRegisterAddForm">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    formControlName="companyName"
                    type="text"
                    class="form-control"
                    placeholder="Company Name"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <input
                    formControlName="email"
                    type="text"
                    class="form-control"
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password *"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Confirm Password *"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    formControlName="taxNumber"
                    class="form-control"
                    placeholder="Tax Number"
                    value=""
                  />
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option class="hidden" selected disabled>
                      Please select your Sequrity Question
                    </option>
                    <option>What is your Birthdate?</option>
                    <option>What is Your old Phone Number</option>
                    <option>What is your Pet Name?</option>
                  </select>
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Answer *"
                    value=""
                  />
                </div>
                <input
                  (click)="addCorporate()"
                  type="submit"
                  class="btnRegister"
                  value="Register"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
