<div style="margin-top: 100px">
    <p-carousel [value]="cars" [numVisible]="3" [numScroll]="3" [circular]="false" >
        <ng-template pTemplate="header">
           
        </ng-template>
        <ng-template let-cars pTemplate="item">
            <div class="car-item">
                <div class="car-item-content">
                    <div class="mb-3">
                        <img src="https://pbs.twimg.com/media/FJU9kNtXsAAfiY6?format=jpg&name=small"class="car-image" />
                    </div>
                    <div>
                        <h4 class="mb-1">{{cars.brandName}}</h4>
                        <h6 class="mt-0 mb-3">${{cars.dailyPrice}}</h6>
                        <div class="car-buttons mt-5">
                            <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                            <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                            <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>