
<div  *ngIf="dataLoaded == false">
  <p-progressSpinner
    style="margin-left:'700px';"
    [style]="{ width: '50px', height: '50px' }"
    styleClass="custom-spinner"
    strokeWidth="8"
    fill="var(--surface-ground)"
    animationDuration=".5s"
  ></p-progressSpinner>
</div>
<div *ngIf="dataLoaded == true">
  <div  class="container">
    <div class="row m-0">
      <div class="col-lg-7 pb-5 pe-lg-5">
        <div class="row">
          <div class="col-12 p-5">
            <img
              src="https://www.freepnglogos.com/uploads/honda-car-png/honda-car-upcoming-new-honda-cars-india-new-honda-3.png"
              alt=""
            />
          </div>
          <div class="row m-0 bg-light">
            <div class="col-md-4 col-6 ps-30 pe-0 my-4">
              <p class="text-muted">Mileage</p>
              <p class="h5">25000<span class="ps-1">Km</span></p>
            </div>
            <div class="col-md-4 col-6 ps-30 my-4">
              <p class="text-muted">Transmission</p>
              <p class="h5 m-0">Manual</p>
            </div>
            <div class="col-md-4 col-6 ps-30 my-4">
              <p class="text-muted">Drive unit</p>
              <p class="h5 m-0">Front</p>
            </div>
            <div class="col-md-4 col-6 ps-30 my-4">
              <p class="text-muted">Body</p>
              <p class="h5 m-0">Coupe</p>
            </div>
            <div class="col-md-4 col-6 ps-30 my-4">
              <p class="text-muted">Color</p>
              <p class="h5 m-0">White</p>
            </div>
            <div class="col-md-4 col-6 ps-30 my-4">
              <p class="text-muted">Daily UI</p>
              <p class="h5 m-0">#002</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 p-0 ps-lg-4">
        <div class="row m-0">
          <div class="col-12 px-4">
            <div class="d-flex align-items-end mt-4 mb-2">
              <p class="h4 m-0">
                <span class="pe-1">ZAZ</span><span class="pe-1">966</span
                ><span class="pe-1">B</span>
              </p>
              <P class="ps-3 textmuted">1L</P>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <p class="textmuted">Subtotal</p>
              <p class="fs-14 fw-bold">{{ invoices.rentTotalPrice }}</p>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <p class="textmuted">Addtional Services Total</p>
              <p class="fs-14 fw-bold">
                <span class="fas fa-dollar-sign pe-1"></span
                >{{ invoices.additionalTotalPrice }}
              </p>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <p class="textmuted">Shipping</p>
              <p class="fs-14 fw-bold">Free</p>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <p class="textmuted">Promo code</p>
              <p class="fs-14 fw-bold">
                -<span class="fas fa-dollar-sign px-1"></span
                >{{ invoices.discountAmount }}
              </p>
            </div>
            <div class="d-flex justify-content-between mb-3">
              <p class="textmuted fw-bold">Total</p>
              <div class="d-flex align-text-top">
                <span class="fas fa-dollar-sign mt-1 pe-1 fs-14"></span
                ><span class="h4">{{ invoices.totalPrice }}</span>
              </div>
            </div>
          </div>
          <div class="col-12 px-0">
            <div class="row bg-light m-0">
              <div class="col-12 px-4 my-4">
                <p class="fw-bold">Payment detail</p>
              </div>
              ,
              <form [formGroup]="paymentAddForm">
                <div class="col-12 px-4">
                  <div class="d-flex mb-4">
                    <span class="">
                      <p class="text-muted">Card number</p>
                      <input
                        formControlName="cardNumber"
                        class="form-control"
                        type="text"
                        value="4485 6888 2359 1498"
                        placeholder="1234 5678 9012 3456"
                      />
                    </span>
                    <div class="w-100 d-flex flex-column align-items-end">
                      <p class="text-muted">Expires</p>
                      <input
                        formControlName="expirationDate"
                        class="form-control2"
                        type="text"
                        value="01/2020"
                        placeholder="MM/YYYY"
                      />
                    </div>
                  </div>
                  <div class="d-flex mb-5">
                    <span class="me-5">
                      <p class="text-muted">Cardholder name</p>
                      <input
                        formControlName="cardName"
                        class="form-control"
                        type="text"
                        value="David J.Frias"
                        placeholder="Name"
                      />
                    </span>
                    <div class="w-100 d-flex flex-column align-items-end">
                      <p class="text-muted">CVC</p>
                      <input
                        formControlName="cvv"
                        class="form-control3"
                        type="text"
                        value="630"
                        placeholder="XXX"
                      />
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row m-0">
              <div class="col-12 mb-4 p-0">
                <div (click)="add()" class="btn btn-primary">
                  Purchase<span class="fas fa-arrow-right ps-2"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
