<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../../assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs"><span class="mr-2"><a >Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          <h1 class="mb-3 bread">Our Blog</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 text-center d-flex ftco-animate">
            <div class="blog-entry justify-content-end mb-md-5">
            <a  class="block-20 img" style="background-image: url('../../../assets/images/image_1.jpg');">
            </a>
            <div class="text px-md-5 pt-4">
                <div class="meta mb-3">
                <div><a >Oct. 29, 2019</a></div>
                <div><a >Admin</a></div>
                <div><a  class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mt-2"><a >Why Lead Generation is Key for Business Growth</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <p><a  class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center d-flex ftco-animate">
            <div class="blog-entry justify-content-end mb-md-5">
            <a  class="block-20 img" style="background-image: url('../../../assets/images/image_2.jpg');">
            </a>
            <div class="text px-md-5 pt-4">
                <div class="meta mb-3">
                <div><a >Oct. 29, 2019</a></div>
                <div><a >Admin</a></div>
                <div><a  class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mt-2"><a >Why Lead Generation is Key for Business Growth</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <p><a  class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center d-flex ftco-animate">
            <div class="blog-entry">
            <a  class="block-20 img" style="background-image: url('../../../assets/images/image_3.jpg');">
            </a>
            <div class="text px-md-5 pt-4">
                <div class="meta mb-3">
                <div><a >Oct. 29, 2019</a></div>
                <div><a >Admin</a></div>
                <div><a  class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mt-2"><a >Why Lead Generation is Key for Business Growth</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <p><a  class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center d-flex ftco-animate">
            <div class="blog-entry justify-content-end mb-md-5">
            <a class="block-20 img" style="background-image: url('../../../assets/images/image_4.jpg');">
            </a>
            <div class="text px-md-5 pt-4">
                <div class="meta mb-3">
                <div><a >Oct. 29, 2019</a></div>
                <div><a >Admin</a></div>
                <div><a  class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mt-2"><a >Why Lead Generation is Key for Business Growth</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <p><a  class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center d-flex ftco-animate">
            <div class="blog-entry justify-content-end mb-md-5">
            <a class="block-20 img" style="background-image: url('../../../assets/images/image_5.jpg');">
            </a>
            <div class="text px-md-5 pt-4">
                <div class="meta mb-3">
                <div><a >Oct. 29, 2019</a></div>
                <div><a >Admin</a></div>
                <div><a  class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mt-2"><a >Why Lead Generation is Key for Business Growth</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <p><a  class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center d-flex ftco-animate">
            <div class="blog-entry">
            <a  class="block-20 img" style="background-image: url('../../../assets/images/image_6.jpg');">
            </a>
            <div class="text px-md-5 pt-4">
                <div class="meta mb-3">
                <div><a >Oct. 29, 2019</a></div>
                <div><a >Admin</a></div>
                <div><a  class="meta-chat"><span class="icon-chat"></span> 3</a></div>
              </div>
              <h3 class="heading mt-2"><a>Why Lead Generation is Key for Business Growth</a></h3>
              <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
              <p><a class="btn btn-primary">Continue <span class="icon-long-arrow-right"></span></a></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a>&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a >2</a></li>
              <li><a >3</a></li>
              <li><a >4</a></li>
              <li><a >5</a></li>
              <li><a>&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>